/**
 * Minified by jsDelivr using clean-css v4.2.1.
 * Original file: /npm/modern-normalize@0.6.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .03em;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  body {
    overflow-y: overlay;
  }
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interactive {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .06em;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.form__title {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__input {
  border: 1px solid #2196F3;
}

.form__label {
  position: absolute;
  pointer-events: none;
  left: 42px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translate3d(-25px, -40px, 0);
          transform: translate3d(-25px, -40px, 0);
  font-size: 12px;
}

.form__field:focus-within .form__label {
  color: #2196F3;
}

.form__icon {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__icon {
  fill: #2196F3;
}

.form__label--comment {
  left: 16px;
  top: 12px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.form__field:focus-within .form__label--comment,
.form__input:not(:placeholder-shown) + .form__label--comment {
  -webkit-transform: translate3d(0, -32px, 0);
          transform: translate3d(0, -32px, 0);
}

.form__input--comment {
  resize: none;
  min-height: 120px;
  padding: 8px 16px;
}

.form__field--terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__label--terms {
  position: relative;
  padding-left: 22px;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .form__label--terms {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__label--terms::before {
  content: '';
  display: inline-block;
  position: absolute;
  margin-right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--terms:checked + .form__label--terms::before {
  background-color: #2196F3;
  background-image: url(../images/icon/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.form__link--terms {
  color: #2196F3;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: .03em;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__span {
  color: #2196F3;
}

.header {
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 1199px) {
  .header {
    position: fixed;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 85px;
  }
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header__button:hover, .header__button:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__burger-icon {
  display: block;
}

.header__button.is-open .header__open-icon {
  display: none;
}

.header__close-icon {
  display: none;
}

.header__button.is-open .header__close-icon {
  display: block;
}

.header__content-thumb {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__content-thumb {
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 101%;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    background-color: #ffffff;
    padding: 40px;
    pointer-events: initial;
    -webkit-transform: translateY(-102%);
            transform: translateY(-102%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .header__content-thumb.is-open .header__content {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-height: 368px) {
  .header__content {
    padding: 0;
  }
}

.nav__list,
.contacts {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: .02em;
}

@media screen and (max-width: 767px) {
  .nav__list,
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.nav__text,
.contacts__text {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .nav__text,
  .contacts__text {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .nav__text {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link--current {
  color: #2196F3;
  position: relative;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 2px;
  background-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    bottom: -1px;
  }
}

.hero-section::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .hero-section::before {
    height: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section::before {
    display: none;
  }
}

.hero-section__background {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-mobile.jpg");
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section__background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-mobile@2x.jpg");
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero-section__background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-tablet.jpg");
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section__background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-tablet@2x.jpg");
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero-section__background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-desktop.jpg");
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-desktop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section__background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-desktop@2x.jpg");
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%), url("../images/hero/hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__background {
    height: 600px;
  }
}

.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero-section__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  background-color: #ffffff;
}

.benefits__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefits__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.benefits__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  min-height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.7;
  color: #757575;
}

.examples {
  display: none;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .examples {
    display: block;
  }
}

.examples__container {
  padding-bottom: 94px;
}

.examples__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.examples__title {
  margin-bottom: 50px;
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.example-card {
  position: relative;
  max-width: 370px;
  margin: 15px;
}

.example-card__image {
  display: block;
}

.example-card__title {
  position: absolute;
  width: 100%;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #F5F4FA;
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-card {
  background-color: #ffffff;
  margin: 15px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-card {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team-card__image {
  display: block;
  margin-bottom: 30px;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.clients {
  background-color: #ffffff;
}

.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.clients__icon--ya-co {
  width: 45px;
  height: 50px;
}

.clients__icon--co {
  width: 40px;
  height: 52px;
}

.clients__icon--company {
  width: 41px;
  height: 43px;
}

.clients__icon--foster {
  width: 80px;
  height: 42px;
}

.clients__icon--brand {
  width: 59px;
  height: 47px;
}

.clients__icon--tag {
  width: 89px;
  height: 46px;
}

.clients__link {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.portfolio {
  background-color: #ffffff;
  border-top: 1px solid #ECECEC;
}

.portfolio::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio::before {
    height: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio::before {
    display: none;
  }
}

.portfolio__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Filter --------------------------------------------------------------------------------- */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter {
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -4px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .filter {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin: 8px 4px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__text:hover, .filter__text:focus, .filter__text:active {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Portfolio items ------------------------------------------------------------------------ */
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    max-width: 450px;
    width: 100%;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio__image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio__image {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__image {
    max-width: 370px;
  }
}

.portfolio__content {
  border: 1px solid #EEEEEE;
  border-top: transparent;
}

.portfolio__title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}

.portfolio__hover-text-wrapper {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__hover-text-wrapper,
.portfolio__link:focus .portfolio__hover-text-wrapper {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__hover-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

@media screen and (max-width: 380px) {
  .portfolio__hover-text {
    font-size: 14px;
  }
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__half-thumb {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__half-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__half-thumb {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__half-thumb {
    margin-right: auto;
  }
}

/* logo ------------------------------------------------------------------------------------*/
.footer__logo {
  color: #ffffff;
  font-style: normal;
  margin-bottom: 20px;
}

/* Adress ----------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-right: 69px;
  }
}

.address__list {
  line-height: 1.7;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__street {
  color: #ffffff;
  text-decoration: none;
}

.address__mail,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

/* Social & Subscribe-----------------------------------------------------------------------*/
.social__title,
.subscribe__title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .social__title,
  .subscribe__title {
    text-align: center;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__field {
  width: 100%;
  max-width: 450px;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__field {
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}

.subscribe__label {
  position: absolute;
  left: 16px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:not(:placeholder-shown) + .subscribe__label,
.subscribe__field:focus-within .subscribe__label {
  -webkit-transform: translate3d(-16px, -36px, 0);
          transform: translate3d(-16px, -36px, 0);
  font-size: 12px;
}

@media screen and (min-width: 375px) {
  .subscribe__input:not(:placeholder-shown) + .subscribe__label,
  .subscribe__field:focus-within .subscribe__label {
    -webkit-transform: translate3d(-4px, -38px, 0);
            transform: translate3d(-4px, -38px, 0);
  }
}

@media screen and (min-width: 580px) {
  .subscribe__input:not(:placeholder-shown) + .subscribe__label,
  .subscribe__field:focus-within .subscribe__label {
    -webkit-transform: translate3d(-64px, 1px, 0);
            transform: translate3d(-64px, 1px, 0);
  }
}

.subscribe__label::after {
  content: ':';
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:not(:placeholder-shown) + .subscribe__label::after,
.subscribe__field:focus-within .subscribe__label::after {
  opacity: 1;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subscribe__button-text {
  margin-right: 10px;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.backdrop--hiden {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.backdrop.backdrop--hiden .modal {
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  fill: #2196F3;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}
/*# sourceMappingURL=main.css.map */