
$primaryTextColor: #757575;
$titleTextColor: #212121;
$whiteTextColor: #ffffff;
$accentColor: #2196F3;
$buttonHover: #188CE8;
$primaryBgColor: #ffffff;
$secondaryBgColor: #F5F4FA;
$footerBgColor: #2F303A;
$borderMainColor: #AFB1B8;
$borderPortfolioColor: #EEEEEE;
$transparentBgColor: rgba(47, 48, 58, 0.8);
$transparentBackdropColor: rgba(0, 0, 0, 0.2);
$socialSvgColor: #AFB1B8;
$footerFormText: rgba(255, 255, 255, 0.6);
$portfolioHoverColor: rgba(33, 150, 243, 0.9);


$primaryFont: 'Roboto', sans-serif;

$containerWidth: 1200px;

$mainBezier: cubic-bezier(0.4, 0, 0.2, 1);