.header{
	width: 100%;
	z-index: 100;
	background-color: $primaryBgColor;
	border-bottom: 1px solid #ECECEC;

	@media screen and (max-width:$containerWidthDesktop - 1){
		position: fixed;
	}
	
}
.header__container{
	display: flex;
	align-items: center;
}
.header__logo{
	padding-top: 16px;
	padding-bottom: 16px;
	margin-right: auto;

	@media screen and (min-width:$containerWidthTablet) {
		margin-right: 81px;
	}

	@media screen and (min-width:$containerWidthDesktop) {
		margin-right: 85px;
	}
}
.header__button{
	display: inline-flex;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	fill: $titleTextColor;
	transition: fill 250ms $mainBezier;
	cursor: pointer;

	&:hover,
	&:focus {
		fill: $accentColor;
	}

	@media screen and (min-width:$containerWidthTablet) {
		display: none;
	}
}
.header__burger-icon {
	display: block;
}
.header__open-icon {
	.header__button.is-open & {
		display: none;
	}
}
.header__close-icon {
	display: none;
	.header__button.is-open & {
		display: block;
	}
}
.header__content-thumb{
	width: 100%;
	@media screen and (max-width:$containerWidthTablet - 1) {
		overflow: hidden;
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 101%;
		padding-bottom: 5px;
	}
}

.header__content{
	@media screen and (max-width:$containerWidthTablet - 1) {
		background-color: $primaryBgColor;
		padding: 40px;
		pointer-events: initial;
		transform: translateY(-102%);
		transition: transform 250ms $mainBezier;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

		.header__content-thumb.is-open & {
			transform: translateY(0%);
		}
	}

	@media screen and (min-width:$containerWidthTablet){
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		@media screen and(max-height:368px) {
		padding: 0;
	}
}
.nav__list,
.contacts {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: .02em;

	@media screen and (max-width:$containerWidthTablet - 1){
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.nav__list{
	@media screen and (max-width:$containerWidthTablet - 1){
		margin-bottom: 20px;
	}

	@media screen and (min-width:$containerWidthTablet){
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 1.15;
	}
}
.contacts{
	@media screen and (min-width:$containerWidthTablet){
		font-size: 12px;
	}

	@media screen and (min-width:$containerWidthDesktop){
		display: flex;
		font-size: 14px;
		line-height: 1.14;
	}
}
.nav__item:not(:last-child) {
	@media screen and (max-width:$containerWidthTablet - 1){
		margin-bottom: 24px;
	}

	@media screen and (min-width:$containerWidthTablet){
		margin-right: 50px;
	}
}
.contacts__item:not(:last-child) {
	@media screen and (min-width:$containerWidthDesktop){
		margin-right: 30px;
	}
}
.contacts__icon-envelope{
	width: 16px;
	height: 12px;
	margin-right: 10px;
}
.contacts__icon-smartphone{
	width: 10px;
	height: 15px;
	margin-right: 10px;
}
.nav__link{
	display: inline-flex;
   align-items: center;
	text-decoration: none;
	color: $titleTextColor;
	transition: color 250ms $mainBezier;

	&:hover,
	&:focus {
	color: $accentColor;
	}
}
.contacts__link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: $primaryTextColor;
	fill: $primaryTextColor;
	transition: color 250ms $mainBezier, fill 250ms $mainBezier;
	
	&:hover,
	&:focus {
		color: $accentColor;
		fill: $accentColor;
	}
	
	@media screen and (min-width:$containerWidthTablet){
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.nav__text,
.contacts__text{
	margin: 0;
	@media screen and (max-width:$containerWidthTablet - 1){
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
.nav__text{
		@media screen and (min-width:$containerWidthTablet){
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
.nav__link--current{
	color: $accentColor;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		align-self: flex-end;
		border-radius: 2px;
		background-color: $accentColor;
		
		@media screen and (min-width:$containerWidthTablet){
			bottom: -1px;
		}
	}
}