.benefits {
	background-color: $primaryBgColor;
}
.benefits__container{
	padding-top: 60px;
	padding-bottom: 62px;
}
.benefits__list {
	// display: flex;
	margin: -15px;
}
.benefits__item {
	margin: 15px;
	&:not(:last-child){
		margin-bottom: 30px;
	}
	@media screen and (min-width:$containerWidthTablet) {
		width: calc((100% - 2 * 30px) / 2);
	}
	@media screen and (min-width:$containerWidthDesktop) {
		width: calc((100% - 4 * 30px) / 4);
	}
}


.benefits__icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $secondaryBgColor;
	min-height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
}
.benefits__icon{
	width: 70px;
	height: 70px;
}
.benefits__title {
	font-weight: 700;
	line-height: 1.15;
	text-transform: uppercase;
	text-align: center;
	color: $titleTextColor;
	margin-bottom: 10px;
}
.benefits__text {
	line-height: 1.7;
	color: $primaryTextColor;
}