.logo {
	display: inline-block;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	line-height: 1.17;
	font-weight: 700;
	letter-spacing: .03em;
	text-decoration: none;
	white-space: nowrap;
	@media screen and (min-width:$containerWidthDesktop) {
		font-size: 26px;
		line-height: 1.19;
	}
}
.logo__span{
	color: $accentColor;
}